= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      = f.label :help_text, class: 'label-bold'
      = f.text_area :help_text, class: 'form-control', rows: 4
      .form-text.text-muted Markdown enabled
    .form-group
      = f.label :help_page_text, class: 'label-bold'
      = f.text_area :help_page_text, class: 'form-control', rows: 4
      .form-text.text-muted Markdown enabled
    .form-group
      .form-check
        = f.check_box :help_page_hide_commercial_content, class: 'form-check-input'
        = f.label :help_page_hide_commercial_content, class: 'form-check-label' do
          Hide marketing-related entries from help
    .form-group
      = f.label :help_page_support_url, 'Support page URL', class: 'label-bold'
      = f.text_field :help_page_support_url, class: 'form-control', placeholder: 'http://company.example.com/getting-help', :'aria-describedby' => 'support_help_block'
      %span.form-text.text-muted#support_help_block Alternate support URL for help page

  = f.submit 'Save changes', class: "btn btn-success"
